<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="top">
    <div class="home"> 
      <div class="topic">
        hi, i am
      </div>
      <% @users.each do |u| %>
        <div class="topic2">
      	  <%= u.FirstName %>
          <%= u.LastName %>
         </div>
         <br>
         <div class="topic3">
         <%= link_to '<button type="button">Find More About Me</button>'.html_safe, users_path(id: u.id)%>
         </div>
      <% end %>
    </div>
  </div>
  <div class="introductionphoto">
    <div class="introductiontext">
    </div>
  </div>
  <div class="bottom">
    <div class="details">
      <a href='/'><img src="/home.png" style="position: absolute; width:10%;height:100%left: 25%;right: 80%;"> </a>
    </div>
  </div>
</body>
</html>
